@using Speculum.ViewModel.Cloth
@model Speculum.ViewModel.Cloth.ClothViewModel

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <h1>الأقمشة</h1>
        </div>
        <div class="content-body">
            <section id="dashboard-analytics">
                <div class="row">
                    <div class="table-responsive">
                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 col-12">
                            <div class="row">
                                <div class="col-12">
                                    <table class="table xxx table-striped dataex-html5-selectors" id="ClothTable" role="grid" aria-describedby="DataTables_Table_0_info">
                                        <thead>
                                            <tr role="row">
                                                <th scope="col">القماش</th>
                                                <th scope="col">تعديل</th>
                                                <th scope="col">حذف</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var cloth in Model.GetCloths)
                                            {
                                                <tr data-id="@cloth.Id" data-name="@cloth.Name"
                                                    role="row" class="odd id-@cloth.Id">
                                                    <td class="name">@cloth.Name</td>
                                                    <td><a class="feather icon-edit-1 edit-cloth"></a></td>
                                                    <td><a class="btn trash delete-cloth" style="color:red"><i class="fa fa-remove"></i></a></td>
                                                </tr>
                                            }
                                    </table>
                                </div>
                            </div>
                            <div class="row"><div class="col-sm-12 col-md-5"></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate"></div></div></div>
                        </div>
                    </div>
                </div>
            </section>
            <a class="AddButton add-cloth">
                <i class="fa fa-plus my-float" data-toggle="tooltip"
                   data-original-title="إضافة نوع قماش" data-placement="top"></i>
            </a>
            <div class="modal fade" id="AddClothModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-modal="true" style="padding-right: 17px; display: none;">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 style="color:#5347d0" class="modal-title" id="exampleModalLongTitle">معلومات القماش</h5>
                            <button id="Exit" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <form id="addFormCloth">
                            <div class="modal-body">
                                <div class="row">
                                    <div class="form-group col-12">
                                        <label asp-for="Name">القماش</label>
                                        <input asp-for="Name" id="name" class="form-control" />
                                    </div>
                                    <div class="form-group col-6">
                                    </div>
                                    <input asp-for="Id" hidden id="Id" />
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button class="btn btn-primary waves-effect waves-light add-cloth">حفظ</button>
                                <button data-dismiss="modal" class="btn btn-danger waves-effect waves-light">إغلاق</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{

    <script src="~/assets/lib/js/datatable/datatablesinarabic.js"></script>
    <script src="~/assets/lib/js/datatable/datatables.min.js"></script>
    <script src="~/assets/lib/js/datatable/datatables.bootstrap4.min.js"></script>
    <script src="~/js/Views/Cloth/cloth.js"></script>
}
